.trip__header {
  text-align: center;
}

.trip__input {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.trip__input input {
  height: 40px;
  font-size: 15px;
  border: 1px solid #808080;
  border-radius: 2px;
}

.trip__input h2 {
  font-size: 15px;
  font-weight: 500;
}

.trip__options {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.trip__options h2 {
  font-size: 15px;
  font-weight: 500;
}

.trip__options--cost {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.trip__options--cost--choices, .trip__options--size--choices {
  width: 150px;
  height: 150px;
  border: 2px black solid;
  border-radius: 10%;
  padding: 10px;
  margin: 5px;
}

.selected {
 border: 2px #88bdfc solid;
 box-shadow: 5px 10px #888888;
 cursor: pointer;
}

.trip__options--size {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.trip__button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.trip__button button {
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  color: #ffff;
  font-size: 15px;
}
